.account-cart #cart {
    color: white;
    background-color: tomato;
    transition: 0.5s;
    border-radius: 5px;

    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}