@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    user-select: none;
    background-image: url("../imgs/wall.jpg");
    background-size: cover;
    background-position: center;
}

.header a {
    text-decoration: none;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.container .header {
    position: absolute;
    top: 0;
    height: 150px;
    width: 1200px;
    background-color: tomato;
}

.header .title-area {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-area .title {
    font-size: 50px;
    font-family: 'Changa', sans-serif;
    font-weight: bold;
    color: tomato;
    text-shadow: 2px 2px 3px black;
    margin-left: 20px;
}

.title i:hover {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.title-area .account-cart {
    margin-right: 10px;
}

.account-cart #person, .account-cart #cart {
    background: none;
    border: none;
    color: tomato;
    font-size: 30px;
    cursor: pointer;
}

.account-cart #person:hover, .account-cart #cart:hover {
    color: white;
    background-color: tomato;
    transition: 0.5s;
    border-radius: 5px;

    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.header .navi-area {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navi input[type="button"] {
    color: tomato;
    font-size: 15px;
    width: 80px;
    background-color: white;
    border-radius: 22px;
    border: 2px solid white;
    margin: 20px;
    cursor: pointer;
}

.navi #home-btn {
    color: white;
    background-color: #2ecc71;
}

.navi input[type="button"]:hover {
    color: white;
    background-color: tomato;
    transition: 0.5s;

    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.container .footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 1200px;
    background-color: tomato;
}

.footer .signature {
    color: white;
    font-family: "Roboto";
    text-align: center;
}

.container .main {
    position: absolute;
    width: 1200px;
    top: 150px;
    bottom: 50px;
    background: whitesmoke;
    overflow: auto;

    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main .top-frame {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-frame .ads {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: 570px;
    border-radius: 10px;
    background-image: url(../imgs/top_news.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-frame .ads:hover {
    transition: 0,5s;
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.ads #ads-title {
    color: white;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px orange;
    margin-left: 20px;
    margin-top: -50px;
}

#ads-title #ads_text_2, #ads-title #ads_text_3 {
    margin-top: -90px;
}

.ads-button input[type="button"] {
    width: 85px;
    height: 25px;
    border-radius: 22px;
    border: 2px solid white;
    color: black;
    cursor: pointer;
    margin-top: 235px;
    margin-left: 20px;
}

.ads-button input[type="button"]:hover {
    background-color: lightsalmon;
    transition: 0.5s;
}

.main .frame {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.frame .news-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1500px;
}

.news-area .news {
    width: 573px;
    height: 300px;
    background-color: orange;
    margin-top: 20px;
    border-radius: 10px;
}

.news-area .news:hover {
    transition: 0,5s;
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.news .news-text {
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px tomato;
    text-align: center;
    margin-top: -3px;
}

.news input[type="button"] {
    width: 85px;
    height: 25px;
    border-radius: 22px;
    border: 2px solid white;
    color: black;
    cursor: pointer;
    position: absolute;
    margin-left: 470px;
    margin-top: 150px;
}

.news input[type="button"]:hover {
    background-color: lightsalmon;
    transition: 0.5s;
}